# MongoDB Configuration
MONGODB_USERNAME=your_mongodb_username
MONGODB_PASSWORD=your_mongodb_password
MONGODB_CLUSTERNAME=your_cluster_name
MONGODB_DATABASE=your_dev_database_name
MONGODB_DATABASE_PROD=your_prod_database_name
