.projects {
  width: 90%;
  max-width: 80rem;
  margin: var(--size-8) auto;
}

.projects h1 {
  font-size: var(--size-8);
  color: var(--color-text-primary);
  text-align: center;
  margin: 0 0 var(--size-8);
}

@media (min-width: 768px) {
  .projects h1 {
    font-size: var(--size-16);
  }
}
